*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  padding: 20px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

header .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.profile .pic {
  border: 2px solid #000;
  background-color: #000;
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

header nav {
  display: flex;
  gap: 10px;
}

.heading {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 20px 0;
}

section p {
  margin-top: 15px;
}